<header class="header header--opacue">
  <div class="container header__section">
    <div class="logo">
      <img
        class="logo__image"
        src="/images/logo.svg"
        alt="logo"
        width="130"
        height="22"
      />
    </div>
    <nav class="header__navigation nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">About Us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Services</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Work</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">News</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contacts</a>
        </li>
      </ul>
      <div class="nav__contact">
        <a class="contact" href="tel:4055550128" title="(405) 555-0128">
          <img
            class="contact__image"
            src="/images/icons/phone-icon.svg"
            alt="phone icon"
            width="40"
            height="40"
          />
          <div class="contact__info">
            <p class="contact__title">Call us</p>
            <p class="contact__details">(405) 555-0128</p>
          </div>
        </a>
        <a
          class="contact"
          href="mailto:hello@createx.com"
          title="hello@createx.com"
        >
          <img
            class="contact__image"
            src="/images/icons/chat-icon.svg"
            alt="chat icon"
            width="40"
            height="40"
          />
          <div class="contact__info">
            <p class="contact__title">Talk to us</p>
            <p class="contact__details">hello@createx.com</p>
          </div>
        </a>
      </div>
    </nav>
  </div>
</header>
