.header {
  position: fixed;
  inset-inline: 0;
  top: 0;

  &__section {
    display: flex;
    column-gap: 60px;
    align-items: center;
    margin: 20px auto;
    background-color: transparent;

    .logo {
      flex-shrink: 0;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--opacue {
    background-color: var(--stb-white);
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: var(--stb-gray-800);
    tab-size: 16px;
    line-height: 1.6;
    font-weight: 700;

    &.active {
      color: var(--stb-primary);
    }

    &:hover,
    &:active {
      color: var(--stb-primary);
    }
  }

  &__contact {
    display: flex;
    gap: 36px;
  }
}

.contact {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;

  &__image {
    fill: var(--stb-primary);
    width: 40px;
    height: 40px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--stb-gray-800);
  }
  &__details {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--stb-gray-900);
  }
}

.navbar-button {
  all: unset;
  display: none;
  justify-self: flex-end;
  max-width: 100px;
  padding-inline: 6px;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;

  .icon {
    width: 40px;
    height: 40px;
    fill: var(--stb-burger-icon-color, var(--stb-gray-800));
  }

  &:hover {
    --stb-burger-icon-color: var(--stb-white);
    background-color: var(--stb-gray-800);
  }

  // will replace with javascript function onClick
  &:hover + .sidebar {
    transform: translateX(250px);
  }
}

.sidebar {
  position: fixed;
  z-index: 2;
  left: -255px;
  bottom: 0;
  max-width: 250px;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px;
  background-color: var(--stb-white);
  transition: 0.5s ease-in-out;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    height: calc(100% - 80px);
  }

  .contacts {
    display: grid;
    gap: 20px;
  }

  .logo {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@include tablet-l {
  .nav {
    justify-content: end;
  }
  .contact {
    display: none;
  }
}

@include tablet {
  .navbar-button {
    display: block;
    margin-left: auto;
  }

  // .sidebar {
  //   display: block;
  // }

  .nav {
    display: none;
  }
  .nav__item {
    text-wrap: nowrap;
  }
  .contact {
    display: flex;
  }
}
