<section class="section section-projects">
  <div class="container section-projects__body">
    <div class="section-projects__wrapper">
      <div class="section-projects__title section-title section-title--m">
        <div class="section-title__header">Related projects</div>
      </div>
      <div class="section-projects__btn-group">
        <button class="arrow-btn arrow-btn--left">
          <svg class="icon arrow-btn__icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </button>
        <button class="arrow-btn arrow-btn--right">
          <svg class="icon arrow-btn__icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="">
      <div class="section-projects__list">
        <div class="">
          <div class="project-card">
            <div class="project-card__image-container">
              <img
                class="project-card__image"
                src="/images/section-projects/projects-kidbedroom-design@1x.jpg"
                srcset="
                  /images/section-projects/projects-kidbedroom-design@2x.jpg 2x
                "
                alt="Kid bedroom"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div class="section-title__header">
                  Kids Bedroom With Decorations
                </div>
                <div class="section-title__text">Apartments & flats</div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="project-card card-designs">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-designs__image"
                src="/images/section-projects/projects-bedroom-design@1x.jpg"
                srcset="
                  /images/section-projects/projects-bedroom-design@2x.jpg 2x
                "
                alt=""
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div class="section-title__header card-designs__header">
                  Modern Double Bedroom
                </div>
                <div class="section-title__text card-designs__text">
                  Apartments & flats
                </div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="project-card card-designs">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-designs__image"
                src="/images/section-projects/projects-livingroom-design@1x.jpg"
                srcset="
                  /images/section-projects/projects-livingroom-design@2x.jpg 2x
                "
                alt=""
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div class="section-title__header card-designs__header">
                  Scandinavian Style Interior
                </div>
                <div class="section-title__text card-designs__text">
                  Private houses
                </div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-link">
      <span class="section-link__text"> Explore all our works </span>
      <a href="#" class="button button--l button--primary">View portfolio</a>
    </div>
  </div>
</section>
