@import "mixins";

body {
  position: relative;
  min-width: 360px;
  margin: 0 auto;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  // border: 1px solid #e52f2f;
}

.section {
  &__promo,
  &__values {
    padding-top: 120px;
    text-align: center;

    // @include desktop {
    //   padding: 200px 0 60px;
    // }
  }
}

.icon {
  width: inherit;
  height: inherit;
}
