<section class="section section__values container values">
  <h2 class="values__title title title--m">Our core values</h2>
  <p class="values__description description description--m">
    Our mission is to set the highest standards for construction sphere.
  </p>

  <div class="values__list">
    <div class="values__item card">
      <img
        src="../../images/icons-color/like-icon.svg"
        alt=""
        class="card__image"
        width="48"
        height="48"
      />
      <h3 class="card__title title title--xs">Quality</h3>
      <p class="card__description description description--s">
        Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
        nostrud aliquip sunt.
      </p>
    </div>
    <div class="divider"></div>
    <div class="values__item card">
      <img
        src="../../images/icons-color/hand-icon.svg"
        alt=""
        class="card__image"
        width="48"
        height="48"
      />
      <h3 class="card__title title title--xs">Safety</h3>
      <p class="card__description description description--s">
        Anim reprehenderit sint voluptate exercitation adipisicing laborum
        adipisicing. Minim empor est ea.
      </p>
    </div>
    <div class="divider"></div>
    <div class="values__item card">
      <img
        src="../../images/icons-color/slippers-icon.svg"
        alt=""
        class="card__image"
        width="48"
        height="48"
      />
      <h3 class="card__title title title--xs">Comfort</h3>
      <p class="card__description description description--s">
        Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
        voluptate ullamco proident ea ad.
      </p>
    </div>
  </div>
</section>
