<footer class="footer">
  <div class="container footer__section">
    <div class="footer__group">
      <div class="footer__column">
        <div class="">
          <img src="" alt="" />
          <ul>
            <li><a href="#"><img src="#" alt=""></a></li>
            <li><a href="#"><img src="#" alt=""></a></li>
            <li><a href="#"><img src="#" alt=""></a></li>
            <li><a href="#"><img src="#" alt=""></a></li>
            <li><a href="#"><img src="#" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__column"></div>
    </div>
    <div class="copyright"></div>
  </div>
</footer>
