<section class="section section-blog">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <div class="section-title__header">Recent news</div>
    </div>

    <div class="section-blog__blog-container">
      <div class="section-blog__blog-card">
        <div class="section-blog__blog-image">
          <img src="" alt="" />
        </div>
        <div class="section-blog__content">
          <div class="section-title section-title--card">
            <div class="section-title__header">
              How to Build Climate Change-Resilient Infrastructure
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
