<section class="section section-projects">
  <div class="container">
    <div class="section-projects__title section-title section-title--m">
      <div class="section-title__header">
        Browse our selected projects and learn more about our work
      </div>
    </div>
    
    <div class="section-projects__btn-group">
      <button class="section-projects__left-btn">
        <svg class="icon" width="24" height="24">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </button>
      <button class="section-projects__right-btn">
        <svg class="icon" width="24" height="24">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </button>
    </div>

    <div class="section-projects__list">
      <div class="section-projects__card">
        <div class="section-projects__image">
          <img src="" alt="" width="390" height="345" />
        </div>
        <div
          class="section-projects__card-content section-title section-title--card-slider text-center"
        >
          <div class="section-title__header">Red Finger Building</div>
          <div class="section-title__text">Business Centers</div>
        </div>
      </div>
    </div>

    <div class="section-link">
      <span class="section-link__text"> Explore all our works </span>
      <a href="#" class="button button--l button--primary">View portfolio</a>
    </div>
  </div>
</section>
