<section class="section section-projects">
  <div class="container section-projects__body">
    <div class="section-projects__wrapper">
      <div class="section-projects__title section-title section-title--m">
        <div class="section-title__header">
          Browse our selected projects and learn more about our work
        </div>
      </div>
      <div class="section-projects__btn-group">
        <button class="arrow-btn arrow-btn--left js_card-prev">
          <svg class="icon arrow-btn__icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </button>
        <button class="arrow-btn arrow-btn--right js_card-next">
          <svg class="icon arrow-btn__icon" width="24" height="24">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper js_card-swiper">
      <div class="section-projects__list swiper-wrapper">
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-card card-constructions">
            <div class="project-card__image-container">
              <img
                class="project-card__image card-constructions__image"
                src=""
                srcset=""
                alt="Red Building"
                width="390"
                height="345"
              />
            </div>
            <div class="project-card__card-content text-center">
              <div class="section-title section-title--card-slider">
                <div
                  class="section-title__header card-constructions__header"
                ></div>
                <div class="section-title__text card-constructions__text"></div>
              </div>
              <a href="#" class="button button--m button--primary-outline">
                View Project
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-link">
      <span class="section-link__text"> Explore all our works </span>
      <a href="#" class="button button--l button--primary">View portfolio</a>
    </div>
  </div>
</section>
