.section-projects {
  padding-block: 120px;

  &__body {
    position: relative;
  }

  &__title {
    max-width: 700px;
    width: 100%;
  }

  &__btn-group {
    position: absolute;
    top: 90px;
    right: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;
  }

  &__list {
    overflow-x: scroll;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 20px;
    // border: 1px solid #000;
  }
}
