<section class="section section__hero">
  <div class="">
    <!-- <div class="section__content">
      <h1 class="section__title title title--light">
        CREATE<span class="text-accent">X</span> CONSTRUCTION
      </h1>
      <p class="section__description description description--light">
        Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat,
        dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget
        pellentesque integer ipsum elementum felis.
      </p>
      <div class="btn-group">
        <a
          class="button button--light-outline button--m btn-group__button"
          href="#"
        >
          Learn more about us
        </a>
        <button class="button button--primary button--m btn-group__button">
          SUBMIT REQUEST
        </button>
      </div>
    </div> -->

    <!-- Slider -->
    <div class="section__slider slider">
      <div class="slider__indicators container">
        <button
          type="button"
          class="active slider__indicator-btn"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          class="slider__indicator-btn"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          class="slider__indicator-btn"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          class="slider__indicator-btn"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
          </div>
        </div>
        <div class="section__content">
          <h1 class="section__title title title--light">
            CREATE<span class="text-accent">X</span> CONSTRUCTION
          </h1>
          <p class="section__description description description--light">
            Cras ultrices leo vitae non viverra. Fringilla nisi quisque
            consequat, dignissim vitae proin ipsum sed. Pellentesque nec
            turpis purus eget pellentesque integer ipsum elementum felis.
          </p>
          <div class="btn-group">
            <a
              class="button button--light-outline button--m btn-group__button"
              href="#"
            >
              Learn more about us
            </a>
            <button
              class="button button--primary button--m btn-group__button"
            >
              SUBMIT REQUEST
            </button>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev slider__btn"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="slider__btn-icon slider__btn-icon--lft" aria-hidden="true">
          <svg class="icon slider__icon-lt" width="20" height="20">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next slider__btn"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span
          class="slider__btn-icon slider__btn-icon--rght"
          aria-hidden="true"
        >
          <svg class="icon slider__icon-rt" width="20" height="20">
            <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
          </svg>
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
