.section {
  // padding: 220px 20px 120px;
  padding: 150px 10px;
  background-color: #1e212c99;
  background-image: image-set(
    url("/images/bg-hero-image@1x.jpg") 1x,
    url("/images/bg-hero-image@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // border: 1px solid #000;

  &__content {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #d92828;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 34px;
  }
}

.slider {
  position: relative;

  // &__btn {
  //   border: 3px solid #000;
  // }

  &__btn-icon {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;

    &--lft {
      left: 0;
    }
    &--rght {
      right: 0;
    }
  }

  &__icon-lt {
    rotate: -90deg;
  }

  &__icon-rt {
    rotate: 90deg;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 14px 24px;

  &__button {
    width: 100%;
  }
}

@include desktop {
  .section {
    padding: 220px 20px 120px;
  }

  .section__slider {
    margin: 0;
    width: 100%;
    border: 2px solid #33b742;
  }

  .section__content {
    margin: 0;
    text-align: left;
  }

  .section__description {
    margin-bottom: 60px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}
