@import "../../styles/ui/decorations";
@import "../../styles/animations";

.section-stat {
  padding-block: 180px 120px;

  &__list {
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
  }

  &__item-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 148px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: var(--stb-gray-900);
    background: var(--stb-accent-border);
    background-size: 148px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;

    &::after {
      position: absolute;
      inset: 0;
      display: block;
      width: 148px;
      height: 148px;
      background: var(--stb-accent-border-completed);
      background-size: 148px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      content: "";
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--stb-gray-900);
  }
}
