<section class="section section-benefits">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <h2 class="section-title__header section-title__header--light">
        Our benefits
      </h2>
      <p class="section-title__text section-title__text--light">
        Our mission is to set the highest standards for construction sphere.
      </p>
    </div>

    <div class="decorative-list">
      <div class="decorative-list__item">
        <div class="decorative-list__body">
          <img
            src="/images/icons-color/benefits-contract-icon.svg"
            alt="Quality"
            class="decorative-list__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header section-title__header--light">
              Fixed Terms & Cost
            </div>
            <div class="section-title__text section-title__text--light">
              Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
              velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
      </div>

      <div class="decorative-list__item">
        <div class="decorative-list__body">
          <img
            src="/images/icons-color/benefits-helmet-icon.svg"
            alt="Safety"
            class="decorative-list__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header section-title__header--light">
              Qualified Workers
            </div>
            <div class="section-title__text section-title__text--light">
              Anim reprehenderit sint voluptate exercitation adipisicing laborum
              adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
      </div>

      <div class="decorative-list__item">
        <div class="decorative-list__body">
          <img
            src="/images/icons-color/benefits-camera-icon.svg"
            alt="Comfort"
            class="decorative-list__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header section-title__header--light">
              Supervision & Control
            </div>
            <div class="section-title__text section-title__text--light">
              Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
              voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="section-benefits__button button button--primary button--l">
      Discuss a project
    </button>
  </div>
</section>
