.card-services {
  --stb-card-icon-fill: var(--stb-orange-100);
  --stb-card-text-color: var(--stb-gray-900);

  flex-shrink: 0;
  padding-block: 80px;
  max-width: 285px;
  width: 100%;

  background-color: var(--stb-white);
  border-radius: 4px;
  border: 1px solid var(--stb-gray-300);
  box-shadow: var(--stb-shadow-2);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &__body {
    display: grid;
    gap: 24px;
    justify-items: center;
  }

  &__icon {
    width: 52px;
    height: 52px;
    fill: var(--stb-card-icon-fill);
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--stb-card-text-color);
  }

  &:hover {
    --stb-card-icon-fill: var(--stb-white);
    --stb-card-text-color: var(--stb-white);

    background-color: var(--stb-gray-600);
    box-shadow: var(--stb-shadow-3);
  }
}
