<section class="section section-services">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <div class="section-title__header">Our services</div>
      <div class="section-title__text">
        Createx Construction Bureau is a construction giant with a full range of
        construction services.
      </div>
    </div>

    <div class="section-services__list">
      <div class="section-services__card">
        <div class="section-services__card-body">
          <svg class="icon section-services__icon" width="52" height="52">
            <use
              xlink:href="/images/sprite.svg#construction-service-icon"
            ></use>
          </svg>
          <div class="section-services__name">Construction</div>
        </div>
      </div>
      <div class="section-services__card">
        <div class="section-services__card-body">
          <svg class="icon section-services__icon" width="52" height="52">
            <use xlink:href="/images/sprite.svg#development-service-icon"></use>
          </svg>
          <div class="section-services__name">Project Development</div>
        </div>
      </div>
      <div class="section-services__card">
        <div class="section-services__card-body">
          <svg class="icon section-services__icon" width="52" height="52">
            <use xlink:href="/images/sprite.svg#design-service-icon"></use>
          </svg>
          <div class="section-services__name">Interior Design</div>
        </div>
      </div>
      <div class="section-services__card">
        <div class="section-services__card-body">
          <svg class="icon section-services__icon" width="52" height="52">
            <use xlink:href="/images/sprite.svg#repairs-service-icon"></use>
          </svg>
          <div class="section-services__name">Repairs</div>
        </div>
      </div>
    </div>

    <div class="section-services__link">
      <span class="section-services__link-text">Learn more about our services</span>
      <a href="#" class="button button--l button--primary">View services</a>
    </div>
  </div>
</section>
